body.dark-background {
    background-color: rgb(40, 40, 40);
}
.theme-mode.dark-mode {
    background-image: url(pic/sun.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}
.title-page.dark-titlePage .title {
    color: white;
}
.title-page.dark-titlePage .words {
    color: white;
}
.work-page.dark-workPage{
    background-color: rgb(30,30,30);
}
/* .work-page.dark-workPage .work-title, */
.work-page.dark-workPage .game-title,
.work-page.dark-workPage .photo-title,
.work-page.dark-workPage .project-title {
    /* color: white; */
    color: rgb(255, 173, 19);
}
